[submodule "node_modules/grunt"]
	path = node_modules/grunt
	url = git://github.com/gruntjs/grunt.git
[submodule "node_modules/grunt-cli"]
	path = node_modules/grunt-cli
	url = git://github.com/gruntjs/grunt-cli.git
[submodule "node_modules/grunt-contrib-uglify"]
	path = node_modules/grunt-contrib-uglify
	url = git://github.com/gruntjs/grunt-contrib-uglify.git
[submodule "node_modules/grunt-contrib-sass"]
	path = node_modules/grunt-contrib-sass
	url = git://github.com/gruntjs/grunt-contrib-sass.git
